<div class="header-div">
    <h2 class="signInHeader">Sign In</h2>
</div>

<div style="margin-top: 100px;">
    <form action="">
        <input class="input-box" type="text" placeholder="Email">
        <input class="input-box" type="text" placeholder="Password">
    </form>
    <a class="forgotPass">Forgot password?</a>
    
</div>
<div class="signIn-btn-div">
    <a>Don't have an account?</a>
    <button type="button" class="signIn-btn">Sign In</button>

</div>
<!-- <button style="display: block; margin-left: 15px; width: 345px; height: 58px; font-size: 20px; font-weight: bold; background-color: #00A080; color: #fff; border: none; border-radius: 28px;margin-top: 15px; ">Sign Up</button> -->