<div class="position">
    <div style="margin-top: 15%;">

    
    <div class="due-time" >
        <div class="item-center">
        <p class="mb" style="padding-bottom: 2%;">DUE IN</p>
        <br>
        <br>
        <br>
        <p class="time">15:18</p>
        <p>MIN</p>
        </div>
        
    </div>
    <div class="container">
       <div class="pickup-container">
            <div class="chef-div">
                <img src="../../assets/images/chef-hat.png" alt="">
            </div>
            <div class="pickup-information">
                <p class="picup-meg">PICK UP FROM</p>
                <p class="res-name">Cettinad Hotel</p>
                <p class="address">JP nagar 123 , Downtown</p>
            </div>
       </div>
        <div>
            <img src="../../assets/images/map-img.png" alt="">
        </div>
    </div>
    
    <div class="container" style="margin-top: 10%;">
        <div class="pickup-container">
            <div class="chef-div">
                <img src="../../assets/images/house.png" alt="">
            </div>
            <div class="pickup-information">
                <p class="picup-meg">DELIVERY TO</p>
                <p  class="res-name">Sam</p>
                <p class="address">11, Vinayaka villa, Adayar</p>
            </div> 
        </div>
       
        <div>
            <img src="../../assets/images/map-img.png" alt="">
        </div>
    </div>
    <hr style="border-color: #00A080;">
    <div class="item-details">
        <h4>3 ITEM IN THE ORDER</h4>
        <p>Biriyani and cutlery</p>
    </div>
    <hr style="border-color: #00A080;">
    <div  class="item-details">
        <h4>DELIVERY INSTRACTIONS</h4>
        <p>Ring the doorbell</p>
    </div>

    <div>
        <button type="button" class="signIn-btn">Start Delivery</button>
    </div>
</div>
</div>
