.container{
    width: 100%;
    height: 100vh;
    background-color: #FFC245;
}
.lottie-div{
    margin-top: 30px;
    width: 100%;
    height: 300px;
    object-fit: fill ;
}
#lottie-container{
    /* margin-top: 30%; */
    border: 1px solid red;
    z-index: 1;
}