<div class="header-div">
    <h2 class="signInHeader">Sign Up</h2>
    <p style="font-size: 16px; color: #808080;">Fill out the application from below to get started</p>
</div>

<div style="margin-top: 60px;">
    <form action="">
        <input class="input-box" type="text" placeholder="Full name">
        <input class="input-box" type="text" placeholder="Phone number">
        <input class="input-box" type="text" placeholder="Email">
        <input class="input-box" type="text" placeholder="Password">
        <input class="input-box" type="text" placeholder="Confirm password">
    </form>
    
    
</div>
<div class="signIn-btn-div">
    <button type="button" class="signIn-btn" (click)="closeForSignup()">Sign up</button>
</div>
