<div>
    <span class="arrow-icon" (click)="closeForRideHistory()" nz-icon nzType="arrow-left" nzTheme="outline"></span>
</div>
<div class="ride-header-div">
    <p>Ride history</p>
    <hr style="border-color: #00A080;">
</div>

<div>
    <div class="rider-history-div">
        <div style="display: flex;">
            <div style="margin-top: 17px;">
                <img class="chef-hat-img" src="../../assets/images/chef-hat.png" alt="">
            </div>
            <div style="height: 50px;">
                <p style="font-size: 12px; font-weight: bold; color: #7C7C7C; ">PICK UP FROM</p>
                <span  style="font-size: 18px; font-weight: bold; color: #FC8019; margin-bottom: 10px;">Cettinad Hotel</span>
            </div>
        </div>
    </div>
</div>
