.container{
 height: 100vh;
 background-color: #FFC245; 
 padding-top: 107px;
}
.flex-div{
 display: flex;
 justify-content: center; 
}
.bento-div{
 display: flex; 
 width: 220px; 
 height: 73px;
 justify-content: center;
}
.bento-h2{
 color: #00a080; 
 font-size:60px; 
 font-weight: bold; 
 font-family: 'Inter', sans-serif;
}
.bento-logo-img{
 height: 51px; 
 width: 68px; 
 margin-top: 12px;
}
.drawer-container{
    border: 1px solid red;
}