
    <div class="container">
        <!-- <button nz-button nzType="primary" (click)="open()" style="display: hidden;">Open</button> -->
    
        <div class="flex-div">
            <div class="bento-div">
                <h2 class="bento-h2">Bento</h2>
                <img class="bento-logo-img" src="../../assets/images/logo.png" alt="">
            </div>
        </div>
    </div>


    




<nz-drawer
      style="border-radius: 28px;"
      [nzHeight]="580"
      [nzClosable]="false"
      [nzVisible]="visible"
      nzPlacement="bottom"
      nzTitle=""
      (nzOnClose)="close()"
    >
      <ng-container *nzDrawerContent>
        <div style="margin: 0 auto; text-align: center;">
            <h1 style="font-size: 40px;font-family: 'Inter', sans-serif; font-weight: bold;">Welcome</h1>
            <p style="font-size: 16px; color: #808080;">Continue with one of the following options</p>
        </div>
        
        <div style="margin-top: 120px;">
            <button style="display: block; margin-left: 15px; width: 345px; height: 58px; font-size: 20px; font-weight: bold; background-color: #00A080; color: #fff; border: none; border-radius: 28px;">Sign In</button>
            <button style="display: block; margin-left: 15px; width: 345px; height: 58px; font-size: 20px; font-weight: bold; background-color: #00A080; color: #fff; border: none; border-radius: 28px;margin-top: 15px; ">Sign Up</button>
        </div>
      </ng-container>
    </nz-drawer>
