<nav role="navigation">
<div  class="span-div">
  <div id="menuToggle">
    <input type="checkbox" />
    
      <span></span>
      <span></span>
      <span></span>
  
    <ul id="menu">
      <a><li>Profile</li></a>
      <a  ><li>Ride history</li></a>
      <button type="button" class="logout-btn">Logout</button>
    </ul>
</div>

</div>

</nav>

<!-- <nz-drawer
  class="ant-drawer-content"
  [nzHeight]="200"
  [nzWidth]="430"
  [nzClosable]="false"
  [nzVisible]="visibleForRideHistory"
  nzPlacement="left"
  nzTitle=""
  (nzOnClose)="closeForRideHistory()"
>
  <ng-container *nzDrawerContent>
   <app-rider-history (notifyParent)="closeForRideHistory()"></app-rider-history>
  </ng-container>
</nz-drawer>

<nz-drawer
      style="border-radius: 28px;"
      [nzHeight]="580"
      [nzClosable]="false"
      [nzVisible]="visibleForSignin"
      nzPlacement="bottom"
      nzTitle=""
      (nzOnClose)="closeForSignin()"
    >
      <ng-container *nzDrawerContent>
       <app-sign-in></app-sign-in>
      </ng-container>
</nz-drawer> -->

  <!-- (click)="openForProfile()" (click)="openForRideHistory()" -->